<div class="imagePopUp">
  <p class="time">Added: {{image?.timeAdded}}</p>
  <button type="button" id="closePopUp" (click)="exitPopUp()" class="exit">x</button>
  <img src="{{ image?.url }}" alt="">
  <br>
  <div class="allTags" style="overflow-y: auto">
  <nav>
  <div class="tags" *ngFor="let tg of image?.imageTags">
    <div class="tagList">
      <a [routerLink]="['/gallery',{tags: tg.name}]" class="tagLink">{{tg.name}}</a><span class="own1">{{tg.confidence}}</span>
    <br>
    </div>
  </div>
  </nav>
  </div>
</div>


