<div class="page">
<div>
  <nav>
    <a routerLink="/" routerLinkActive="active" class="Home"><p>Home</p></a>
    <a routerLink="/gallery" routerLinkActive="active" class="Gallery"><p>Gallery</p></a>
  </nav>
</div>

<div class="text">
<h1>Analyze an image via its url</h1>

<div class="container" id="main-container">
<form [formGroup]="imageFormGroup" (ngSubmit)="addImage()">
  <input id="urlId" type="text" [formControlName]="'url'" placeholder="Enter your url..." class="input"><br>
  <button type="submit" class="button">Analyze image</button>
</form>

<div *ngIf="imageFormGroup.get('url')?.invalid && imageFormGroup.get('url')?.dirty">
  <div class="error" *ngIf="imageFormGroup.get('url')?.errors?.['required']">
    Url is required.
  </div>
</div>
</div>
</div>

<div *ngIf="load"> <app-image-item [image]="lastAddedImage" (popup)="closePopUp()">  </app-image-item>
</div>
</div>

